/* blogpost */

.blog-post
{
  width: 90%;
  height: 100%;
  margin: auto;
  margin-bottom: 5%;
  margin-bottom: 5vh;
  background-color: grey;
  @include boxshadow(10px, 0px);
}

.blog-thumbnail
{
  width: 960px;
  height: 540px;
  margin: auto;
  overflow: hidden;
  @include respond-to(xxsmall, 240px, 160px);
  @include respond-to(xsmall, 320px, 180px);
  @include respond-to(small, 580px, 300px);
  @include respond-to(medium, 720px, 405px);
  @include respond-to(large, 848px, 480px);
}

.blog-thumbnail img
{
  max-width: 100%;
  height: auto;
}
