/* blogpost */

.blog-post
{
  width: 90%;
  height: 256px;
  margin: auto;
  margin-bottom: 5%;
  margin-bottom: 5vh;
  background-color: grey;
  @include boxshadow(10px, 0px);
  overflow: hidden;
}

.blog-thumbnail
{
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: hidden;

}

.blog-thumbnail img
{
  max-width: 100%;
  height: auto;
  display: block;
}

/* breakpoints */
@media screen and (max-width: 1080px)
{
  .blog-post
  {
    width: 100%;
    height: 256px;
  }
}
