/* category main content */

.content-overview-about-me
{
  background-color: $color-background-red;
  height: 100%;
  width: 100%;
}

.content-overview-webdev
{
  background-color: $color-background-green;
  height: 100%;
  width: 100%;
}

.content-overview-2d3d
{
  background-color: $color-background-blue;
  height: 100%;
  width: 100%;
}

.content-overview-posts
{
  float: right;
  width: 75%;
  height: 100%;
  margin-top: 5%;
  margin-top: 5vh;
}
