/* category main content */

.content-overview
{
    width: 100%;
    height: 100%;
}

.about-me
{
    background-color: $color-background-red;
}

.webdev
{
  background-color: $color-background-green;
}

.art-2d3d
{
  background-color: $color-background-blue;
}

.content-overview-posts
{
  float: right;
  width: 66.67%;
  min-height: 100%;
  min-height: 100vh;
  margin-top: 5%;
  margin-top: 5vh;
}

/* breakpoints */
@media screen and (max-width: 1080px)
{
  .content-overview-posts
  {
    float: none;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100%;
  }
}
