/* header */

.content-header
{
  width: 100%;
  height: 15%;
  margin: auto;
}

.content-header-container
{
  width: 90%;
  height: 100%;
  margin: auto;
  @include borderBottom(1px);
}

.content-header-left
{
  width: 75%;
  height: 100%;
  float: left;
  display: flex;
  align-items: center;
}

.content-header-left h1
{
  font-weight: 400;
  font-size: 800%;
  font-size: 8rem;
  @include responsiveFont(xxsmall, 400%, 4rem);
}

.content-header-right
{
  width: 25%;
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
}

.content-header-right figure
{
  width: 90%;
  margin: auto;
}

.content-header-right figure img
{
  width: 90%;
}

.sidebar-and-posts-container
{
  width: 90%;
  height: auto;
  margin: auto;
}
