/* header */

.content-header
{
  width: 100%;
  height: 15vh;
  margin: auto;
}

.content-header-container
{
  width: 90%;
  height: 100%;
  margin: auto;
  @include borderBottom(1px);
}

.content-header-left
{
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
  align-items: center;
}

.content-header-left h1
{
  font-weight: 400;
  font-size: 5em;
}

.content-header-right
{
  width: 50%;
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
}

.sidebar-and-posts-container
{
  width: 90%;
  height: auto;
  margin: auto;
}
