//All icons for doortjespanjerberg.com

@import "base";

@mixin icon-container($background-image, $background-positionX, $background-positionY, $icon-size)
{
    background-image: url($background-image);
    background-position: $background-positionX $background-positionY;
    width: $icon-size;
    height: $icon-size;
    background-repeat: no-repeat;
    margin: 0 auto;
    z-index: 10;
    border-bottom: 2px solid $color-typography-darkgrey;
}

@media (max-width: 1024px)
{
    #about-me-icon
    {
        @include icon-container("imagesOnSite/Site_Icons_Spritesheet_165_64.png", 0px, (-192px), 64px);
    }

        #two-dee-icon
    {
        @include icon-container("imagesOnSite/Site_Icons_Spritesheet_165_64.png", 0px, (-256px), 64px);
    }

        #three-dee-icon
    {
        @include icon-container("imagesOnSite/Site_Icons_Spritesheet_165_64.png", 0px, (-320x), 64px);
    }

        #webdesign-icon
    {
        @include icon-container("imagesOnSite/Site_Icons_Spritesheet_165_64.png", 0px, (-384px), 64px);
    }

    .icon-container
    {
        display: none;
    }
}
