body::-webkit-scrollbar
{
  width: 2em;
}

body::-webkit-scrollbar-thumb
{
  background-color: rgba(50,50,50,0.5);
}

/* ----- Tablets and phones ----- */
@include responsiveLayoutMobile
{
  body::-webkit-scrollbar
  {
    width: 1em;
  }
}

@include responsiveLayoutTablet
{
  body::-webkit-scrollbar
  {
    width: 1em;
  }
}

/* ----- Tablets and their landscape mode ----- */
@include responsiveLayoutBigTablet
{
  body::-webkit-scrollbar
  {
    width: 1em;
  }
}

@include responsiveLayoutNexusSeven
{
  body::-webkit-scrollbar
  {
    width: 1em;
  }
}
