/*sidebar */

.sidebar-container
{
  float: right;
  width: 20%;
  height: auto;
  margin-top: 5%;
  margin-top: 5vh;
  font-weight: 300;
  font-size: 200%;
  font-size: 2rem;
  line-height: 2em;
  //@include respond-to(xxsmall, 100%, auto);
  //@include respond-to(xsmall, 100%, auto);
  @include responsiveFont(xxsmall, 100%, 1rem);
}

.sidebar-content-container
{
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 2.5%;
  margin-bottom: 2.5vh;
  @include borderBottom(1px);
}

.sidebar-content-container p
{
  width: 80%;
  height: auto;
  margin: auto;
  margin-bottom: 5vh;
}

.sidebar-content-social-container
{
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-content-social-container figure
{
    width: 25%;
    text-align: center;
}

.sidebar-content-social-container figure img
{
  width: 50%;
}

/* breakpoints */
@media screen and (max-width: 1080px)
{
  .sidebar-container
  {
    float: none;
    width: 100%;
    height: auto;
    margin-bottom: 2.5%;
    margin-bottom: 2.5vh;
  }

  .sidebar-content-social-container figure img
  {
    width: 25%;
  }
}
