/*sidebar */

.sidebar-container
{
  width: 20%;
  height: auto;
  margin-top: 5%;
  margin-top: 5vh;
  font-weight: 300;
  font-size: 200%;
  font-size: 2rem;
  line-height: 2em;
}

.sidebar-content-container
{
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 2.5%;
  margin-bottom: 2.5vh;
  @include borderBottom(1px);
}

.sidebar-content-container p
{
  width: 80%;
  height: auto;
  margin: auto;
  margin-bottom: 5vh;
}

.sidebar-content-social-container
{
  width: 100%;
  height: auto;
  margin: auto;
  @include displayFlex(center, center, row);
}

.sidebar-content-social-container figure
{
    width: 25%;
    text-align: center;
}

.sidebar-content-social-container figure img
{
  width: 50%;
}

.image-hover-scale-up
{
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}

.image-hover-scale-up:hover
{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* Breakpoints */

/* ----- Mobile phones and tablets ----- */

@include responsiveLayoutMobile
{
  .sidebar-container
  {
    width: 100%;
    height: auto;
    margin-bottom: 2.5%;
    margin-bottom: 2.5vh;
    font-size: 1.5rem;
  }

  .sidebar-content-social-container figure img
  {
    width: 33.33%;
  }
}

@include responsiveLayoutTablet
{
  .sidebar-container
  {
    width: 100%;
    height: auto;
    margin-bottom: 2.5%;
    margin-bottom: 2.5vh;
    font-size: 1.5rem;
  }

  .sidebar-content-social-container figure img
  {
    width: 33.33%;
  }
}

/* ----- Tablets and their landscape mode ----- */

@include responsiveLayoutBigTablet
{
  .sidebar-container
  {
    width: 100%;
    height: auto;
    margin-bottom: 2.5%;
    margin-bottom: 2.5vh;
    font-size: 3rem;
  }

  .sidebar-content-social-container figure img
  {
    width: 33.33%;
  }
}

@include responsiveLayoutNexusSeven
{
  .sidebar-container
  {
    width: 100%;
    height: auto;
    margin-bottom: 2.5%;
    margin-bottom: 2.5vh;
    font-size: 2rem;
  }

  .sidebar-content-social-container figure img
  {
    width: 33.33%;
  }
}
