//the base for doortjespanjerberg.com - mixins, variables, color, typography

// Font import
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

// Font variables
$font-normal: 'Roboto', sans-serif;

// Colors used as background throughout website
$color-background-frontpage: rgb(20,20,20);
$color-background-red: rgb(255,82,82);
$color-background-red-onHover: rgb(229,57,53);
$color-background-yellow: rgb(255,213,79);
$color-background-yellow-onHover: rgb(255,193,7);
$color-background-purple: rgb(149,117,205);
$color-background-purple-onHover: rgb(126,87,194);
$color-background-green: rgb(0,200,83);
$color-background-green-onHover: rgb(76,175,80);
$color-background-blue: #2196F3;
$color-background-blue-onHover: #42A5F5;

// Colors used for typography or borders
$color-typography-darkgrey: darkgrey;
$color-typography-white: #FAFAFA;
$color-typography-whitesmoke: #DCDCDC;

// Icons and images

// Media queries for responsive layout
$min-mobile-size: 240px;
$max-mobile-size: 767px;
$min-tablet-size: 768px;
$max-tablet-size: 1024px;
$min-landscape-tablet-size: 1025px;
$max-landscape-tablet-size: 1366px;
$min-tablet-nexus-size: 600px;
$max-tablet-nexus-size: 960px;

// image-url arguments:
// $path: path relative to images directory in config.rb
// $path-only: if true, will cause only the path to be returned instead of a `url()` function
// $cache-buster: When set to `false` no cache buster will be used (i.e. `?313420982`)
//$icon-spritesheet_165: background-image: url('imagesOnSite/Site_Icons_Spritesheet_165.png', false, false);

@import url(/imagesOnSite/Site_Icons_Spritesheet_165.png);
@import url(/imagesOnSite/Site_Icons_Spritesheet_165_64.png);
@import url(/imagesOnSite/Site_Icons_Spritesheet_165_32.png);

//mixins
@mixin content-body($color)
{
    height: 100%;
    width: 100%;
    margin: auto 0px;
    z-index: 1;
    position: relative;
    background-color: $color;
    color: whitesmoke;
    overflow-y: auto;
    overflow-x: hidden;
}

@mixin footer-container($background-color)
{
    height: 5vh;
    width: 100%;
    padding: 1%;
    z-index: 1;
    text-align: center;
    background-color: $background-color;
}

@mixin footer-icon($background-image, $background-positionX, $background-positionY, $icon-size)
{
    background-image: url($background-image);
    background-position: $background-positionX $background-positionY;
    width: $icon-size;
    height: $icon-size;
    background-repeat: no-repeat;
    display: inline-block;
    z-index: 1;
    margin-left: 1vw;
    margin-right: 1vw;
    z-index: 10;
}

@mixin column-rectangle($rectangle-color)
{
    width: 100%;
    height: 10%;
    background-color: $rectangle-color;
}

@mixin column-float($moveSpeed)
{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: $moveSpeed;
    transition-duration: $moveSpeed;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

@mixin boxshadow($blurRadius, $spreadRadius)
{
  -webkit-box-shadow: 0px 0px $blurRadius $spreadRadius rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px $blurRadius $spreadRadius rgba(0,0,0,0.75);
  box-shadow: 0px 0px $blurRadius $spreadRadius rgba(0,0,0,0.75);
}

@mixin borderBottom($thickness)
{
  border-bottom: $thickness solid $color-typography-whitesmoke;
}

@mixin textSizeAdjust($adjust)
{
  -moz-text-size-adjust: $adjust;
  -webkit-text-size-adjust: $adjust;
  -ms-text-size-adjust: $adjust;
  text-size-adjust: $adjust;
}

@mixin displayFlex($justify, $alignItems, $direction)
{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: $justify;
  justify-content: $justify;
  -webkit-align-items: $alignItems;
  align-items: $alignItems;
  -webkit-flex-direction: $direction;
  flex-direction: $direction;
}

/* ----- Mobile phones and tablets ----- */
/* https://davidwalsh.name/write-media-queries-sass */

/* Responsive Layout design of Frontpage */
@mixin responsiveLayoutFrontpage
{
  .column
  {
    width: 100%;
    height: 33.33%;
    padding: 0 0 0 0;
  }

  .column-images.column-float
  {
    display: none;
  }

  .title-page
  {
    height: 100%;
    margin: 0 0 0 0;
  }

  .icon-container
  {
    width: 50%;
    height: 100%;
  }

  .frontpage-category-title
  {
    width: 50%;
  }

  .content-container-frontpage
  {
    flex-direction: column;
  }

  .title-page-rectangle
  {
    display: none;
  }

  #about-me-icon
  {
    border-bottom: 0px solid white;
  }

  .mobile-thumbnail-container
  {
    display: block;
  }

  .column-thumbnail-container:hover .column-thumbnail img
  {
    -webkit-transform: scale(1);
    transform:scale(1);
  }

  .column-thumbnail-container
  {
    height: 100%;
  }

  .column:active > .image-overlay
  {
    opacity: 1;
  }
}

/* Mobile phones */
@mixin responsiveLayoutMobile
{
  @media (min-width: #{$min-mobile-size})
    and (max-width: #{$max-mobile-size})
    and (min-height: #{$min-mobile-size})
    and (max-height: #{$max-mobile-size})
    and (-webkit-min-device-pixel-ratio: 1)
    {
      @content;
    }
}

/* Normal tablets */
@mixin responsiveLayoutTablet
{
  @media (min-width: #{$min-tablet-size})
    and (max-width: #{$max-tablet-size})
    and (min-height: #{$min-tablet-size})
    and (max-height: #{$max-tablet-size})
    and (-webkit-min-device-pixel-ratio: 1)
  {
    @content;
  }
}

/* Big tablets and tablets in landscape mode */
@mixin responsiveLayoutBigTablet()
{
  @media (min-width: #{$min-tablet-size})
    and (max-width: #{$max-landscape-tablet-size})
    and (min-height: #{$min-tablet-size})
    and (max-height: #{$max-landscape-tablet-size})
    and (-webkit-min-device-pixel-ratio: 2)
    {
      @content;
    }
}

/* Nexus 7 */
@mixin responsiveLayoutNexusSeven()
{
  @media (min-width: #{$min-tablet-nexus-size})
    and (max-width: #{$max-tablet-nexus-size})
    and (min-height: #{$min-tablet-nexus-size})
    and (max-height: #{$max-tablet-nexus-size})
    and (-webkit-min-device-pixel-ratio: 1)
  {
    @content;
  }
}
