//All columns for doortjespanjerberg.com

@import "base";

@mixin column-rectangle($rectangle-color)
{
    width: 100%;
    height: 10%;
    background-color: $rectangle-color;
}

@mixin column-float($moveSpeed)
{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: $moveSpeed;
    transition-duration: $moveSpeed;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}