//All css for the footer

@import "base";

@mixin footer-container($background-color)
{
    height: 5vh;
    width: 100%;
    padding: 1%;
    z-index: 1;
    text-align: center;
    background-color: $background-color;
}

@mixin footer-icon($background-image, $background-positionX, $background-positionY, $icon-size)
{
    background-image: url($background-image);
    background-position: $background-positionX $background-positionY;
    width: $icon-size;
    height: $icon-size;
    background-repeat: no-repeat;
    display: inline-block;
    z-index: 1;
    margin-left: 1vw;
    margin-right: 1vw;
    z-index: 10;
}

@media (max-device-width: 720px)
{
    .footer-logos-fb
    {
        @include footer-icon("imagesOnSite/Site_Icons_Spritesheet_165_32.png", 0px, (0px), 32px);
    }
    
    .footer-logos-gm
    {
        @include footer-icon("imagesOnSite/Site_Icons_Spritesheet_165_32.png", 0px, (-32px), 32px);
    }
    
    .footer-logos-in
    {
        @include footer-icon("imagesOnSite/Site_Icons_Spritesheet_165_32.png", 0px, (-64px), 32px);
    }
    
    .footer-logos-git
    {
        @include footer-icon("imagesOnSite/Site_Icons_Spritesheet_165_32.png", 0px, (-224px), 32px);
    }
}