//MODULES -> The modules directory is reserved for Sass code that doesn't cause Sass to actually output CSS. Things like mixin declarations, functions, and variables.
@import "partials/base";

//PARTIALS -> We use partials to organize our work: buttons in one file and typography in another, for example. This allows us to quickly find and make changes in complicated products. Partials are not “real” Sass files in that Sass watch will not convert partials to CSS. They must be imported into a regular .scss file.
@import "partials/_reset";
@import "partials/_icons";
@import "partials/_columns";
@import "partials/_body-content";
@import "partials/_footer";

html,body
{ 
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: $font-normal;
}

a 
{ 
    color: inherit; 
    text-decoration: none;
} 

/*  FRONTPAGE */

.content-container-frontpage
{
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    background-color: $color-background-frontpage;
    color: darkgrey;
}

.page-divider 
{ 
    height: 100%;
}

#header-wrapper-frontpage
{
    text-align: center;
    height: 128px;
    width: 100%;
    position: absolute;
    z-index: 200;
    background-image: url(imagesOnSite/DoortjeDeKatHeader_LosseImage_rgb245-min.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media only screen and (max-device-width : 780px)
{
    #header-wrapper-frontpage
    {
        height: 64px;
        background-image: url(imagesOnSite/DoortjeDeKatHeader_LosseImage_rgb245-min_128.png);
    }
}

/* Columns */

.column
{
    width: 25%;
    height: 100%; 
    float: left;
    position: relative;
    padding-top: 5%;
    z-index: 100;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.column:hover .column-float
{
     -webkit-transform: translateY(-45%);
    transform: translateY(-45%);
}

.column-images
{
    height: 100%;
    width: 100%;
}

.column-images img
{
    display: block;
    width: 100%;
    height: auto;
}

.column-hover
{
    height: 100%;
    width: 100%;
    position: relative;
}

.column-float
{
    @include column-float(0.5s);
}

.invis-rectangle
{
    height: 55%;
}

@media (min-width: 10px) and (max-width: 1280px)
{
    .invis-rectangle
    {
        height: 60%;
    }
}

#rectangle-red
{
    @include column-rectangle($color-background-red);
}

#rectangle-gold
{
    @include column-rectangle($color-background-yellow);
}

#rectangle-purple
{
    @include column-rectangle($color-background-purple);
}

#rectangle-green
{
    @include column-rectangle($color-background-green);
}

.title-page
{
    position: relative;
    width: 100%;
    height: 15%;
    margin-top: 25%;
}

.title-page p
{
    text-align: center;
    font-family: $font-normal;
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 0.15em;
    padding: 1vh;
}

#about-me-icon
{
    @include icon-container("imagesOnSite/Site_Icons_Spritesheet_165.png", 0px, (-384px), 128px); 
}

#two-dee-icon
{
    @include icon-container("imagesOnSite/Site_Icons_Spritesheet_165.png", 0px, (-512px), 128px); 
}

#three-dee-icon
{
   @include icon-container("imagesOnSite/Site_Icons_Spritesheet_165.png", 0px, (-640px), 128px); 
}

#webdesign-icon
{
    @include icon-container("imagesOnSite/Site_Icons_Spritesheet_165.png", 0px, (-768px), 128px); 
}

.icon-container
{
    display: block;
}

/* Fade */
.hvr-fade-red:hover, .hvr-fade-red:focus, .hvr-fade-red:active 
{
  background-color: $color-background-red-onHover;
  color: $color-typography-white;
}

.hvr-fade-amber:hover, .hvr-fade-amber:focus, .hvr-fade-amber:active 
{
  background-color: $color-background-yellow-onHover;
  color: $color-typography-white;
}

.hvr-fade-purple:hover, .hvr-fade-purple:focus, .hvr-fade-purple:active 
{
  background-color: $color-background-purple-onHover;
  color: $color-typography-white;
}

.hvr-fade-green:hover, .hvr-fade-green:focus, .hvr-fade-green:active 
{
  background-color: $color-background-green-onHover;
  color: $color-typography-white;
}

/* All other pages */

.content-body-red
{
    @include content-body($color-background-red);
}

.content-body-amber
{
    @include content-body($color-background-yellow);
}

.content-body-purple
{
    @include content-body($color-background-purple);
}

.content-body-green
{
    @include content-body($color-background-green);
}

.header-wrapper
{
    width: 100%;
    height: 10vh;
    text-align: center;
    position: relative;
}

.header-wrapper-logo
{
    width: 100%;
    height: 100%;
    background-image: url(imagesOnSite/DoortjeDeKatHeader_LosseImage_rgb245-min.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.content-body-container
{
    width: 70%;
    min-height: 100%;
    height: auto;
    margin: auto;
}

.other-pages-maintext
{
    height: auto;
    width: 70%;
    z-index: 1;
}

.other-pages-maintext h1
{
    font-size: 4em;
    text-align: left;
    margin-bottom: 2.5vh;
    z-index: 1;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: $color-typography-whitesmoke;
}

.other-pages-subtext
{
    height: auto;
    width: 40%;
    z-index: 1;
    float: left;
    text-align: left;
}

.other-pages-subtext-floatRight
{
    @extend .other-pages-subtext;
    float: right;
    text-align: right;
}

.content-body-container h2
{
    height: auto;
    width: 100%;
    line-height: 2em;
    z-index: 1;
    font-weight: 300;
    font-size: 1.6em;
    letter-spacing: 0.05em;
    color: $color-typography-whitesmoke;
}

.subtext-video
{
    text-align: center;
    width: 100%;
    height: 100%;
    margin: auto;
}

@media only screen and (max-width : 780px)
{
    .content-body-container
    {
        width: 90%;
    }
    
    .other-pages-maintext
    {
        width: 90%;
    }
    
    .other-pages-subtext h2
    {
        width: 100%;
    }
    
    .header-wrapper-logo
    {
        height: 75%;
    }
}

/* Image Gallery */
.wrap-images 
{
    border-top: 2px solid whitesmoke;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-bottom: 2px solid whitesmoke;
    z-index: 1;
    text-align: center;
}

.box 
{
    display: inline-block;
    position: relative;
    width: 512px;
    height: 512px;
    overflow: hidden;
}
      
.boxInner 
{
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    overflow: hidden;
}
      
.boxInner img 
{
    width: 100%;
}
      
.boxInner .titleBox 
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: -70px;
    background: #000;
    background: rgba(165, 165, 165, 0.6);
    color: rgb(245,245,245);
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    text-align: center;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

@media only screen and (max-device-width : 780px)
{
    .boxInner .titleBox
    {
        margin-bottom: 0px;
    }
}
      
body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox 
{
  margin-bottom: 0;
}
      
.footer-red
{
    @include footer-container($color-background-red);
}

.footer-amber
{
     @include footer-container($color-background-yellow);
}

.footer-purple
{
     @include footer-container($color-background-purple);
}

.footer-green
{
     @include footer-container($color-background-green);
}

.footer-logos-fb
{
    @include footer-icon("imagesOnSite/Site_Icons_Spritesheet_165_64.png", 0px, 0px, 64px);
}

.footer-logos-gm
{
    @include footer-icon("imagesOnSite/Site_Icons_Spritesheet_165_64.png", 0px, (-64px), 64px);
}

.footer-logos-in
{
    @include footer-icon("imagesOnSite/Site_Icons_Spritesheet_165_64.png", 0px, (-128px), 64px);
}

.footer-logos-git
{
    @include footer-icon("imagesOnSite/Site_Icons_Spritesheet_165_64.png", 0px, (-448px), 64px);
}
